/out/*
.idea/*
target/*
target
Logs/*
.vscode/*
.settings/*
.classpath
.project
/noPlugin
/-
.properties
resources/.properties
/resources/.properties
*.class
/resources/loginDetails.txt
/classes/artifacts/systemutvikling.jar/*